<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Log" version="2.0.1" targetFramework="net48" />
  <package id="Dapplo.Windows.Common" version="1.0.28" targetFramework="net48" />
  <package id="Dapplo.Windows.Devices" version="1.0.28" targetFramework="net48" />
  <package id="Dapplo.Windows.Messages" version="1.0.28" targetFramework="net48" />
  <package id="DirectN" version="1.13.0.1" targetFramework="net48" />
  <package id="DirectNCore" version="1.13.0.1" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.22621.2" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>